* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}
header {
    background-color: #326fc9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 5vw 2vw 5vw;
}

.logo {
    width: 10vw;
    aspect-ratio: 1 / 1; 
    border-radius: 50%;
    background-image: url("https://raw.githubusercontent.com/luthfianprasetya/New/refs/heads/main/logo.png");
    background-size: cover;
    background-position: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 7px;
    font-size: 3vw;
    list-style-type: none;
}

.bg1 { 
    background-image: url("https://raw.githubusercontent.com/luthfianprasetya/New/refs/heads/main/Bg1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;  
    height: 100svw;
    padding: 0;
    margin: 0;
}

.bg2 {
    background-image: url('https://raw.githubusercontent.com/luthfianprasetya/New/refs/heads/main/bg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;  
    height: 100vh;      
    padding: 0;
    margin: 0;
}

.teks1 {
    padding: 20vw 0 0 3vw;
    color: white;
    font-size: 6vw;
    max-width: 85%;
    text-align: left;
    text-shadow: 2px 2px 5px black;
}

.teks2 {
    padding: 5vw 0 0 3vw;
    color: white;
    text-shadow: 
     -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    animation: muncul 1s forwards;
    opacity: 0;
    font-size: 3vw;
}

.teks3 {
    padding: 20vw;
    color: white;
    font-size: 6vw;
    max-width: 85%;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.teks4 {
    padding: 5vw 0 0 3vw;
    color:white;
    font-size: 4vw;
    text-align: left;
    max-width: 90%;
    opacity: 0;
    animation: kirikanan 1.5s ease-out forwards;
    animation-delay: 1.3s;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.oli{
    list-style: disc;      
    padding-top: 20px;
    padding-left: 10px; 
    margin-bottom: 5px;    
    display: flex;
    justify-content: space-between;
    gap: 25px;
    color:white;
    font-size: 4vw;
    text-align: left;
    max-width: 90%;
    opacity: 0;
    animation: kirikanan 1.5s ease-out forwards;
    animation-delay: 1.3s;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.teks5 {
    list-style: disc;      
    padding-top: 20px;
    padding-left: 10px; 
    margin-bottom: 5px;    
    display: flex;
    justify-content: space-between;
    gap: 25px;
    color:white;
    font-size: 4vw;
    text-align: left;
    max-width: 90%;
    opacity: 0;
    animation: kirikanan 1.5s ease-out forwards;
    animation-delay: 1.3s;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}


@keyframes kirikanan{
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes muncul{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
